
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #BA55D3;
  padding: 8px 25px;
  height: 100dvw;
   
}
.form-search {
 
  padding: 35px 0;
  display: flex;
  justify-content: center;
  gap: 16px;
 
}

.input-search {
  width: 320px;
  border-radius: 7px;
  border: 1px solid #808080;
  outline: transparent;
  padding: 10px 16px;
}

.input-search:focus {
  border-color: #0000FF;
   font-size: 16px;
}

.btn-search {
   border-radius: 8px; 
  background-color: #1E90FF;
  border: transparent;

  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 25px;
  margin-left: -10px;
}

.btn-search:hover {
  background-color: #4169E1;
}

.container {
  
  padding: 0 15px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

  


.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: center;
  padding: 20px 0;

}

.gallery-item {
  margin-left: 20px;
 
}



.gallery-link {
  min-width: 320px;
  flex-basis: calc((100% - 80px) / 4);
  min-width: 320px;
}

.gallery-link:hover {
  cursor: zoom-in;
}

.gallery-image {
  display: block;
  height: 30vh;
  object-fit: cover;

  
}

.thumb-block {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  border: 1px solid #626aa5;
  border-top: none;

  padding: 10px 0;
}



.block {
  text-align: center;
}

.tittle {
  color: #212127;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.amount {
  color: #212127;
  font-family: Montserrat;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.loader {
  width: 48px;
  height: 48px;
  border: 10px solid #FFF;
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
  box-sizing: border-box;
}

.loader::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  inset: -10px;
  border-radius: 50%;
  border: 10px solid #FF3D00;
  animation: prixClipFix 2s infinite linear;
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
  }
}